<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar vehiculo por categoria</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/estiloregistro.css">
    
    
</head>
<body>
    <header class="header2">
        
        <nav class="menu2">
            <ul>
                <li><a href="vcomprador">Inicio</a></li>
                
    
            </ul>
        </nav>
        
    </div>
    
  </header>
    <form action="/c1" method="POST" class="form-register animated fadeInDown">
        <h1>Busqueda Categorias</h1>
        <input class="forprincipal" type="number" name="catid" placeholder="1001 - 1002" autofocus>
        <button class="botons" type="submit">Buscar</button>
        
        
    </form>

   
   

  </body>
</html>