<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/eliminarper.js"></script>
    <link rel="stylesheet" href="./css/estiloregistro.css">
    
</head>
<body>
    <header class="header2">
        
        <nav class="menu2">
            <ul>
                <li><a href="vcomprador">Inicio</a></li>
                
    
            </ul>
        </nav>
        
    </div>
    
  </header>
    <h1>Datos del Vendedor</h1>
    <table class="registros">
      <thead>
          <tr> 
              <th>Telefono</th>
                  
          </tr>
      </thead>
      <tbody>
          <% datos.forEach(function (datos){ %>
      <tr>
          <input type="hidden" value="<%=datos.iddat%>" name="iddat" id="iddat" class="iddat" readonly>

          <td><input type="text" value="<%=datos.telefono%>" name="telefono" id="telefono" class="telefono"></td>
          

          
        
      </tr>
      <%})%>
  </tbody>
  </table>

  </body>
</html>