<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VISTA VENDEDOR </title>
    <link rel="shortcut icon" href="img/iconop.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/vistaempleados.css">
    <link href = "https: //fonts.googleapis.com/css2? family = Kaisei + Decol & display = swap "rel =" stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header class="header2">
        
        <nav class="menu2">
            <ul>
                <li><a href="vehiculos">Vehiculos</a></li>
                <li><a href="ventavehiculo">Venta</a></li>
                <li><a href="dappersonvendedor">Editar Perfil</a></li>
                <li><a href="cambioroldecomprador">Cambio de Rol</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
    </header>

    <section class="sectitulo">
        <h1> Vista del Vendedor</h1>
    </section>
    <section class="tilnom">
        <h3>Bienvenid@</h3>
        <% datos.forEach(function (datos){ %>
            
      
        <%=datos.nom%>
        <%=datos.apellido%>
        <%})%>
    </section>
    
    
</body>

</html>